<div>
    <h2 id="page-heading">
        <span jhiTranslate="analyserApp.aktien.home.title">Aktiens</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aktien" [routerLink]="['/aktien/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="analyserApp.aktien.home.createLabel">
            Create a new Aktien
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aktiens?.length === 0">
        <span jhiTranslate="analyserApp.aktien.home.notFound">No aktiens found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aktiens?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.symbol">Symbol</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.open">Open</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.close">Close</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.high">High</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.low">Low</span></th>
                    <th scope="col" ><span jhiTranslate="analyserApp.aktien.volume">Volume</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aktien of aktiens ;trackBy: trackId">
                    <td><a [routerLink]="['/aktien', aktien.id, 'view']">{{ aktien.id }}</a></td>
                    <td>{{ aktien.symbol }}</td>
                    <td>{{ aktien.date | date:'medium' }}</td>
                    <td>{{ aktien.open }}</td>
                    <td>{{ aktien.close }}</td>
                    <td>{{ aktien.high }}</td>
                    <td>{{ aktien.low }}</td>
                    <td>{{ aktien.volume }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aktien', aktien.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aktien', aktien.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aktien)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
