<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aktien">
            <h2><span jhiTranslate="analyserApp.aktien.detail.title">Aktien</span> {{ aktien.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="analyserApp.aktien.symbol">Symbol</span></dt>
                <dd>
                    <span>{{ aktien.symbol }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.date">Date</span></dt>
                <dd>
                    <span>{{ aktien.date }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.open">Open</span></dt>
                <dd>
                    <span>{{ aktien.open }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.close">Close</span></dt>
                <dd>
                    <span>{{ aktien.close }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.high">High</span></dt>
                <dd>
                    <span>{{ aktien.high }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.low">Low</span></dt>
                <dd>
                    <span>{{ aktien.low }}</span>
                </dd>
                <dt><span jhiTranslate="analyserApp.aktien.volume">Volume</span></dt>
                <dd>
                    <span>{{ aktien.volume }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aktien', aktien.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
